.App {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: rgb(55, 59, 45);
  height: 1000px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.rbt-input-hint {
  display: none;
}

ul {
  width: 300px !important;
  text-align: left;
  max-height: none !important;
  position: relative !important;
  padding: 0;
}

ul li {
  list-style-type: none;
  background-color: rgba(0,0,0,0.5);
  margin: 10px 0;
  padding: 10px 20px;
}

ul li a  {
  color: #FFF;
  font-size: 18px;
}

.sr-only {
  display: none;
}